#luggageGameScreen{   
    /*border: 2px solid #444;*/ 
    background: white;
    image-rendering: pixelated;
    /* width: calc(32px * 10 * 3);   TILE_SIZE * MAP_WIDTH * SCALE 
    height: calc(32px * 8 * 3);   TILE_SIZE * MAP_HEIGHT * SCALE */
}
#luggage-game-header{ 
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;
    margin-bottom: 20px;
}
#luggage-game-points{
     justify-content: flex-end;
}

#back-to-level-choice{
    background: #845401;
    background-image: url('../../../HouseFloorsAndWalls.png');
    background-position: 10% -50%;
    background-size: 800% 400%;
    background-attachment: fixed;
}
#back-to-level-choice:hover{
    background-image: url('../../../HouseFloorsAndWalls.png');
    background-position: 10% -50%;
    background-size: 800% 400%;
    background-attachment: fixed;
    animation-duration: 2s;
    animation-name: shake;
    animation-timing-function: ease-in-out;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode:none;
    animation-play-state: running;
    
}


@keyframes shake{
    0%{
        transform: rotate(-18deg);
        background-size: 960 480%;
        scale: 1.2;
    }

    25%{
        transform: rotate(0deg);
        background-size: 800 400%;
        scale: 1.0;
    }

    50%{
        transform: rotate(18deg);
        background-size: 960 480%;
        scale: 1.2;

    }

    75%{
        transform: rotate(0deg);
        background-size: 800 400%;
        scale: 1.0;
    }

    100%{
        transform: rotate(-18deg);
        background-size: 960 480%;
        scale: 1.2;
    }
    .box{
        animation-play-state: paused;        
    }
    .box:hover {
        animation-play-state: running;
    }
}