.Roguelike{
    background-color: blue;
}
.Luggage{
    background-color: rgb(3, 75, 0);
}
.locked {
    background-color: rgb(74, 72, 72);
}
.level-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#game-header{ 
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;
    margin-bottom: 20px;
}
button:hover {
    transform: rotateY(360deg);
    opacity: 1;
}
button {
    transition: transform 1s;
    height: 70px;
    width: 100px;
    opacity: .95;
}