.Roguelike{
    background-color: blue;
}
#volume-slider {
    position: fixed;
    top: 70px;
    right: 15px;
    width: 120px;
    z-index: 999999;
}
.Luggage{
    background-color: rgb(3, 75, 0);
}
.locked {
    background-color: rgb(74, 72, 72);
}
.level-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#game-header{ 
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.global-mute-btn {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 45px;
    height: 45px;
    font-size: 24px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: #015d04ff;
    color: white;
    cursor: pointer;
    z-index: 999999; /* Keeps it above everything else */
    display: flex;
    align-items: center;
    justify-content: center;
}