.flex-grid {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;

  justify-content: center; /* Centers buttons horizontally */
  align-items: center;     /* Centers buttons vertically */ 
  gap: 40px;               /* Optional: adds space between the buttons */

  border: 1px solid #ccc;  /*shows the div boundaries */
  
}