#snakeGameScreen{   
    border: 2px solid #444; 
    background: white;
    image-rendering: pixelated;
    /* width: calc(32px * 10 * 3);   TILE_SIZE * MAP_WIDTH * SCALE 
    height: calc(32px * 8 * 3);   TILE_SIZE * MAP_HEIGHT * SCALE */
}
#snake-game-header{ 
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-align: center;
    margin-bottom: 20px;
}
#snake-game-points {
    font-family:'Times New Roman', cursive;
    font-size: 100px;
}
#resetBtn {
    font-family:'Times New Roman', cursive;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 4px solid;
    border-radius: 15px;
    cursor: pointer;
}