/* * { border: 1px solid skyblue;
    margin: 1px
} */
body {
    margin: 0;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* background-color: red;
     background-size: 100% 100%; */
    /* background-position: left;
    background-repeat: repeat; */
    
    font-family: "Times New Roman", serif;
}

.flex-grid { 
    /* position: fixed; */
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;

    background-color: rgb(132, 244, 244);

    background-image: url("/Global_Assets/Snake_Watermark_Background.png");
    /* Snake_graphics/Snake_Watermark_Background.png */
    /* background-size: 100% 100%; */
    background-position: center;
    background-repeat: repeat;
}

#gameContainer {
    /* width: min(70vw, 520px); */
    width: 60%;
    display: flex;
    /* flex-position: center; */
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap: 10px;
}

h1 {
    margin: 0 0 16px 0;
}

#gameBoard {
    /* Set the maximum width to 100% of the iframe/container */
    width: 100%; 
    max-width: 1000px; /* Optional: Stop it from getting TOO huge on massive monitors */
    
    /* Automatically adjust the height to match the internal 600x350 aspect ratio */
    height: auto; 
    aspect-ratio: 600 / 350; 
    
    border: 3px solid black;
    display: block;
    margin: 0 auto; /* Centers the canvas horizontally */
    background-color: white;
    
    /* Optional: Keeps the pixel art crisp when scaled up */
    image-rendering: pixelated; 
}

#hud {
    width: min(92vw, 700px);
    width: 100%;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 14px;

}

#scoreText {
    align-self: right;
    font-size: 52px;
    line-height: 1;
}

#resetBtn {
    font-family: "Times New Roman", serif;
    font-size: 24px;
    width: 130px;
    height: 55px;
    border: 3px solid black;
    border-radius: 14px;
    cursor: pointer;
    background: white;

    animation-duration: 2s;
    animation-name: shake;
    animation-timing-function: ease-in-out;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    
}
@keyframes shake{
    0%{
        transform: rotate(-18deg);
    }

    25%{
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(18deg);
    }

    75%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(-18deg);
    }
}